<nav class="navbar">
  <div class="navbar-container">
    <a class="navbar-brand" href="#introduction">
      <i class="bi bi-code-slash"></i><span class="brand-text">Hi, Nice to see you here!</span>    </a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleMenu()"
      [attr.aria-expanded]="menuOpen"
      aria-controls="navbarNav"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-menu" [class.open]="menuOpen" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ active: activeSection === 'home' }"
            href="#introduction"
            (click)="setActive('home'); closeMenu()"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ active: activeSection === 'experience' }"
            href="#experience"
            (click)="setActive('experience'); closeMenu()"
            >Experience</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ active: activeSection === 'projects' }"
            href="#projects"
            (click)="setActive('projects'); closeMenu()"
            >Projects</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ active: activeSection === 'education' }"
            href="#education"
            (click)="setActive('education'); closeMenu()"
            >Education</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ active: activeSection === 'awards' }"
            href="#awards"
            (click)="setActive('awards'); closeMenu()"
            >Awards</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ active: activeSection === 'contact' }"
            href="#contact"
            (click)="setActive('contact'); closeMenu()"
            >Contact</a
          >
        </li>
        <li class="nav-item social-links">
          <a class="nav-link social-icon"
            href="https://www.linkedin.com/in/omkarloharkar/"
            target="_blank"
            title="LinkedIn Profile"
            aria-label="LinkedIn" >
            <i class="bi bi-linkedin"></i>
          </a>
          <a class="nav-link social-icon"
            href="https://github.com/ploharkar-dev/"
            target="_blank"
            title="GitHub Profile"
            aria-label="GitHub" >
            <i class="bi bi-github"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
